iteration_1_dashboard_home
[{"id":"1fdadef6.b8d131","type":"ui_group","z":"75398184.0d124","name":"Global Devices","order":"3","disp":true,"width":"12"},{"id":"d4c18ad6.0f8048","type":"ui_group","z":"75398184.0d124","name":"Global Scenes","order":"2","disp":true,"width":"12"},{"id":"1e265eb1.8b1311","type":"ui_group","z":"75398184.0d124","name":"Overview","order":"1","disp":true,"width":"6"},{"id":"11f42624.79196a","type":"ui_tab","z":"","name":"Home","icon":"dashboard","theme":"theme-light","order":"1"},{"id":"5e4b8273.9b1f0c","type":"inject","z":"75398184.0d124","name":"time_1sec","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":164,"y":72,"wires":[["22a6e4a6.88083c"]]},{"id":"22a6e4a6.88083c","type":"moment","z":"75398184.0d124","name":"","topic":"","input":"","inputType":"msg","inTz":"","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"","output":"","outputType":"msg","outTz":"","x":385,"y":74,"wires":[["eb80fe34.cb0db"]]},{"id":"eb80fe34.cb0db","type":"ui_text","z":"75398184.0d124","tab":"11f42624.79196a","group":"1e265eb1.8b1311","order":1,"width":"","height":1,"name":"Date_time","label":"Date and time","format":"{{msg.payload}}","x":627,"y":75,"wires":[]},{"id":"cdfe8150.210ae","type":"wunderground in","z":"75398184.0d124","name":"Weather_under_ground","lon":"","lat":"","city":"Stockholm","country":"Sweden","x":173,"y":142,"wires":[["bad21bf9.bca888"]]},{"id":"2838f510.1c668a","type":"ui_text","z":"75398184.0d124","tab":"11f42624.79196a","group":"1e265eb1.8b1311","order":1,"width":"","height":1,"name":"","label":"","format":"{{msg.payload}}","x":619,"y":154,"wires":[]},{"id":"e4743f9a.670c3","type":"debug","z":"75398184.0d124","name":"","active":true,"console":"false","complete":"false","x":633.5,"y":225,"wires":[]},{"id":"bad21bf9.bca888","type":"function","z":"75398184.0d124","name":"forecast","func":"\nreturn {payload:msg.payload.forecast};","outputs":1,"noerr":0,"x":430.5,"y":150,"wires":[["2838f510.1c668a","e4743f9a.670c3"]]},{"id":"51ed5501.c43fec","type":"ui_button","z":"75398184.0d124","name":"Away mode","tab":"11f42624.79196a","group":"d4c18ad6.0f8048","order":1,"width":"6","height":1,"label":"Away","color":"grey","icon":"fa-motorcycle","payload":"","topic":"Door locked","x":157,"y":349,"wires":[["b5e6b2bf.e2b3c"]]},{"id":"b5e6b2bf.e2b3c","type":"ui_toast","z":"75398184.0d124","name":"show toast","x":371,"y":349,"wires":[]},{"id":"a43e68ea.b3e218","type":"ui_toast","z":"75398184.0d124","name":"show toast","x":371,"y":404,"wires":[]},{"id":"42a7489a.a4fde8","type":"ui_button","z":"75398184.0d124","name":"Good Morning","tab":"11f42624.79196a","group":"d4c18ad6.0f8048","order":"2","width":"6","height":1,"label":"Good Morning","color":"grey","icon":"fa-coffee","payload":"","topic":"Coffee machine started","x":167,"y":404,"wires":[["a43e68ea.b3e218"]]},{"id":"3b4f84c1.aad33c","type":"ui_gauge","z":"75398184.0d124","tab":"11f42624.79196a","group":"1fdadef6.b8d131","order":"1","width":"12","height":"2","name":"","title":"Temperature","label":"gauge","format":"{{value}}","min":0,"max":"100","x":454,"y":515,"wires":[]},{"id":"17a74fb2.a8a0f","type":"ui_slider","z":"75398184.0d124","tab":"11f42624.79196a","group":"1fdadef6.b8d131","order":"2","width":"12","height":1,"name":"Thermostat","label":"Thermostat","topic":"","min":0,"max":"100","x":245,"y":518,"wires":[["3b4f84c1.aad33c"]]}]