iteration_1_living_room
[{"id":"f9af4cb5.0e856","type":"ui_group","z":"e27fd788.497678","name":"Blinders","order":"1","disp":true,"width":"6"},{"id":"34f03806.3584a8","type":"ui_group","z":"e27fd788.497678","name":"Philips_hue","order":"1","disp":true,"width":"6"},{"id":"f0caedee.ee77c","type":"ui_tab","z":"","name":"Living_room","icon":"home","theme":"theme-light","order":"2"},{"id":"583e69f5.8f7278","type":"ui_switch","z":"e27fd788.497678","tab":"f0caedee.ee77c","group":"34f03806.3584a8","order":1,"width":"","height":1,"name":"","label":"Switch","topic":"state","style":"","onvalue":"true","onicon":"","oncolor":"","offvalue":"false","officon":"","offcolor":"","x":106,"y":125,"wires":[["4c770977.4336b8","d1b00615.99d1b8"]]},{"id":"439106d.c7ff1f8","type":"ui_slider","z":"e27fd788.497678","tab":"f0caedee.ee77c","group":"34f03806.3584a8","order":"2","width":"","height":1,"name":"Lumonisity","label":"Lumonisity","topic":"lumonisity","min":0,"max":"255","x":126,"y":181,"wires":[["4c770977.4336b8","6e5cb8c6.e56298"]]},{"id":"2d578109.3c4cfe","type":"ui_text_input","z":"e27fd788.497678","tab":"f0caedee.ee77c","group":"34f03806.3584a8","order":"3","width":"","height":1,"name":"color","mode":"color","delay":300,"label":"Color","topic":"color","x":100,"y":239,"wires":[["4c770977.4336b8","c69a1bc2.512898"]]},{"id":"4c770977.4336b8","type":"function","z":"e27fd788.497678","name":"hue_controller","func":"var brightness = 2;\nvar state = false;\nvar color = 0;\n\nif(msg.topic==\"lumonisity\")\n{\n    brightness = msg.payload;\n}\n\nelse if(msg.topic==\"state\")\n{\n    state = msg.payload;\n}\n\nelse if(msg.topic==\"color\")\n{\n    color = msg.payload;\n}\n\nmsg.payload={\n\t\t\t\"on\":[state],\n\t\t\t\"transitiontime\":[0],\n\t\t\t\"bri\":[brightness],\n\t\t\t\"rgb\":[75,15,245]\n\t\t}\nreturn msg;","outputs":1,"noerr":0,"x":357.5,"y":178,"wires":[["f67a6954.33ce28"]]},{"id":"f67a6954.33ce28","type":"Hue Set","z":"e27fd788.497678","deviceid":"","serverid":"","name":"","x":548.5,"y":179,"wires":[[],[]]},{"id":"c69a1bc2.512898","type":"debug","z":"e27fd788.497678","name":"","active":true,"console":"false","complete":"false","x":295,"y":281,"wires":[]},{"id":"d1b00615.99d1b8","type":"ui_toast","z":"e27fd788.497678","name":"show toast","x":400,"y":84,"wires":[]},{"id":"6e5cb8c6.e56298","type":"ui_toast","z":"e27fd788.497678","name":"show toast","x":402,"y":128,"wires":[]},{"id":"cfd0bc8c.a584b","type":"ui_gauge","z":"e27fd788.497678","tab":"f0caedee.ee77c","group":"f9af4cb5.0e856","order":"1","width":"12","height":"2","name":"Blinders","title":"Blinders","label":"Blinder","format":"{{value}}","min":0,"max":"100","x":436,"y":405,"wires":[]},{"id":"d41ab308.3f599","type":"ui_slider","z":"e27fd788.497678","tab":"f0caedee.ee77c","group":"f9af4cb5.0e856","order":"2","width":"6","height":1,"name":"Blinders","label":"Blinders","topic":"","min":0,"max":"100","x":207,"y":408,"wires":[["cfd0bc8c.a584b"]]}]