iteration_1_kitchen
[{"id":"b84f7017.9d60a","type":"ui_tab","z":"","name":"Energy","icon":"flash_on","theme":null,"order":"4"},{"id":"4fe6e958.40a028","type":"ui_group","z":"","name":"Monthly Consumption","order":"1","disp":true,"width":"6"},{"id":"d4d63ac9.181ca8","type":"ui_group","z":"3f1eb4d9.09f23c","name":"Oven","order":"1","disp":true,"width":"6"},{"id":"c5524ade.1f3128","type":"ui_group","z":"3f1eb4d9.09f23c","name":"Kitchen_scene","order":"1","disp":true,"width":"18"},{"id":"2377c5f5.31357a","type":"ui_tab","z":"","name":"Kitchen","icon":"local dining","theme":null,"order":"3"},{"id":"a27a16ff.908028","type":"ui_button","z":"3f1eb4d9.09f23c","name":"","tab":"2377c5f5.31357a","group":"c5524ade.1f3128","order":1,"width":"6","height":1,"label":"Coming home mode","color":"grey","icon":"","payload":"","topic":"Oven Switched on and set to 250C","x":202,"y":83,"wires":[["dbccaf6c.35ec7"]]},{"id":"dbccaf6c.35ec7","type":"ui_toast","z":"3f1eb4d9.09f23c","name":"show toast","x":443,"y":83,"wires":[]},{"id":"fcd105b1.0b8768","type":"ui_switch","z":"3f1eb4d9.09f23c","tab":"2377c5f5.31357a","group":"d4d63ac9.181ca8","order":"1","width":"","height":1,"name":"","label":"switch","topic":"Oven on","style":"","onvalue":"On","onicon":"","oncolor":"","offvalue":"Off","officon":"","offcolor":"","x":168,"y":176,"wires":[["ed7968a5.294ec8"]]},{"id":"b3a1410c.c95b5","type":"ui_slider","z":"3f1eb4d9.09f23c","tab":"2377c5f5.31357a","group":"d4d63ac9.181ca8","order":"3","width":"","height":1,"name":"","label":"temperature","topic":"temperature set to","min":0,"max":"250","x":184,"y":219,"wires":[["6d6bbf17.93e78","c7f4e32a.ae6a2","c8bcbb9d.775938"]]},{"id":"ed7968a5.294ec8","type":"ui_toast","z":"3f1eb4d9.09f23c","name":"show toast","x":372,"y":177,"wires":[]},{"id":"6d6bbf17.93e78","type":"ui_toast","z":"3f1eb4d9.09f23c","name":"show toast","x":392,"y":272,"wires":[]},{"id":"7ba385fc.450cbc","type":"ui_dropdown","z":"3f1eb4d9.09f23c","name":"coffee types","label":"Select","tab":"2377c5f5.31357a","group":"4fe6e958.40a028","order":1,"width":"","height":1,"options":[{"label":"Espresso","value":"Espresso"},{"label":"Cappuccino","value":"Cappuccino"},{"label":"Mochachino","value":"Mochachino"}],"payload":"","topic":"","x":198,"y":315,"wires":[["98f5796b.18c558"]]},{"id":"a81c8ecb.35a64","type":"ui_toast","z":"3f1eb4d9.09f23c","name":"show toast","x":616,"y":316,"wires":[]},{"id":"98f5796b.18c558","type":"function","z":"3f1eb4d9.09f23c","name":"coffee types","func":"\nreturn {payload:msg.payload + \" will be ready in 30 sec\"};","outputs":1,"noerr":0,"x":413.5,"y":377,"wires":[["a81c8ecb.35a64"]]},{"id":"966b5597.7874c8","type":"ui_toast","z":"3f1eb4d9.09f23c","name":"show toast","x":442,"y":40,"wires":[]},{"id":"b2d624cf.fd9908","type":"ui_button","z":"3f1eb4d9.09f23c","name":"","tab":"2377c5f5.31357a","group":"c5524ade.1f3128","order":1,"width":"6","height":1,"label":"Evening Snack Mode","color":"grey","icon":"","payload":"","topic":"toaster switched on","x":211,"y":40,"wires":[["966b5597.7874c8"]]},{"id":"c7f4e32a.ae6a2","type":"ui_gauge","z":"3f1eb4d9.09f23c","tab":"2377c5f5.31357a","group":"d4d63ac9.181ca8","order":"2","width":"","height":"","name":"","title":"Title","label":"gauge","format":"{{value}}","min":0,"max":"250","x":389.5,"y":311,"wires":[]},{"id":"c8bcbb9d.775938","type":"ui_chart","z":"3f1eb4d9.09f23c","tab":"b84f7017.9d60a","group":"4fe6e958.40a028","order":1,"width":"","height":"","label":"Energy","name":"","interpolate":"linear","nodata":"No Data","ymin":"","ymax":"","removeOlder":1,"removeOlderUnit":"86400","x":682.5,"y":200,"wires":[[],[]]}]