MyWeatherStation.json
[{"id":"878fa2a9.660f3","type":"inject","z":"368726bb.4819e2","name":"","topic":"","payload":"","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":160,"wires":[["8892785d.29302"]]},{"id":"8892785d.29302","type":"http request","z":"368726bb.4819e2","name":"testignDarkSky","method":"GET","ret":"obj","url":"https://api.darksky.net/forecast/472daa041ae8882b524066b1334fc89b/52.5200,13.4050?units=si&exclude=currently,minutely,daily,alerts","tls":"","x":260,"y":260,"wires":[["c0a9082c.c36978","b68efa00.028c","a7e5192c.ab879"]]},{"id":"c0a9082c.c36978","type":"function","z":"368726bb.4819e2","name":"AllHourlySummary","func":"var dta = msg.payload.hourly;\n\nvar test;\nvar summaryOverview = [];\nvar cooler = {};\n\nfor (var i = 0; i < dta.data.length; i++)\n{\n   cooler = dta.data[i].summary;\n    summaryOverview.push(cooler);\n}\n\nmsg.payload = summaryOverview;\nmsg.title = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":160,"wires":[[]]},{"id":"afe30afb.f5eaa8","type":"debug","z":"368726bb.4819e2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":300,"wires":[]},{"id":"b68efa00.028c","type":"function","z":"368726bb.4819e2","name":"DateTime_Format","func":"var dta = msg.payload.hourly;\nvar date;\nvar hours;\nvar minutes;\nvar seconds;\nvar unixTime;\nvar base;\nvar dateArray = [];\nvar cooler = {};\n\nfor (var i = 0; i < dta.data.length; i++)\n{\n    unixTime = dta.data[i].time;\n    base = new Date(unixTime * 1000);\n    date = base.getDate();\n    hours = base.getHours();\n    minutes = \"0\" + base.getMinutes();\n    seconds = \"0\" + base.getSeconds();\n    cooler = date+', '+hours + ':' + minutes.substr(-2) + ':' + seconds.substr(-2);\n    \n    dateArray.push(cooler);\n    \n}\n\nmsg.payload = dateArray;\nmsg.title = 1;\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":530,"y":380,"wires":[[]]},{"id":"a7e5192c.ab879","type":"function","z":"368726bb.4819e2","name":"","func":"var dta = msg.payload.hourly;\n\nvar date;\nvar hours;\nvar minutes;\nvar seconds;\nvar unixTime;\nvar base;\nvar test;\nvar overviewArray = [];\nvar dateArray = [];\nvar ArrayToPush = [];\nvar cooler = {};\n\nfor (var i = 0; i < dta.data.length; i++)\n{\n    unixTime = dta.data[i].time;\n    base = new Date(unixTime * 1000);\n    date = base.getDate();\n    hours = base.getHours();\n    minutes = \"0\" + base.getMinutes();\n    seconds = \"0\" + base.getSeconds();\n    test = date+';'+hours + ':' + minutes.substr(-2) + ':' + seconds.substr(-2);\n    \n    cooler = test + '-'+ dta.data[i].summary;\n    ArrayToPush.push(cooler);\n}\n\n\n\nmsg.payload = ArrayToPush;\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":300,"wires":[["afe30afb.f5eaa8"]]}]