MyWeatherStation.json
[{"id":"878fa2a9.660f3","type":"inject","z":"368726bb.4819e2","name":"","topic":"","payload":"","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":160,"wires":[["8892785d.29302"]]},{"id":"c812acc1.0c027","type":"debug","z":"368726bb.4819e2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":710,"y":320,"wires":[]},{"id":"8892785d.29302","type":"http request","z":"368726bb.4819e2","name":"testignDarkSky","method":"GET","ret":"obj","url":"https://api.darksky.net/forecast/472daa041ae8882b524066b1334fc89b/52.5200,13.4050?units=si&exclude=currently,minutely,daily,alerts","tls":"","x":420,"y":320,"wires":[["c812acc1.0c027"]]}]