Sthlm_meeting_widgets
[{"id":"78716bec.f916f4","type":"inject","z":"84e933ed.e63d2","name":"Time_inject","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":195.5,"y":141,"wires":[["6f783377.54220c"]]},{"id":"e8b79306.eab9b","type":"ui_text","z":"84e933ed.e63d2","group":"46a47f48.b3c7c","order":0,"width":"6","height":"1","name":"Date","label":"Date and time","format":"{{msg.payload}}","layout":"col-center","x":622.5,"y":139,"wires":[]},{"id":"145d126f.d917be","type":"wunderground in","z":"84e933ed.e63d2","name":"Berlin_Germany","lon":"","lat":"","city":"Berlin","country":"Germany","x":204.5,"y":301,"wires":[["f1402fe5.7b5b5","38037336.d28ffc"]]},{"id":"38037336.d28ffc","type":"ui_text","z":"84e933ed.e63d2","group":"46a47f48.b3c7c","order":0,"width":"6","height":"1","name":"forecast","label":"Forecast","format":"{{msg.payload.forecast}}","layout":"col-center","x":632,"y":242,"wires":[]},{"id":"6f783377.54220c","type":"moment","z":"84e933ed.e63d2","name":"","topic":"","input":"","inputType":"msg","inTz":"Europe/Stockholm","adjAmount":0,"adjType":"days","adjDir":"add","format":"date","locale":"\"C\"","output":"","outputType":"msg","outTz":"Europe/Stockholm","x":419.5,"y":137,"wires":[["e8b79306.eab9b"]]},{"id":"f1402fe5.7b5b5","type":"debug","z":"84e933ed.e63d2","name":"","active":true,"console":"false","complete":"false","x":627.5,"y":323,"wires":[]},{"id":"6efedd90.a1a5d4","type":"ui_text","z":"84e933ed.e63d2","group":"46a47f48.b3c7c","order":0,"width":"6","height":"1","name":"Calendar Event","label":"Today's Events","format":"{{msg.payload}}","layout":"col-center","x":522.5,"y":418,"wires":[]},{"id":"ea9faf09.f9654","type":"inject","z":"84e933ed.e63d2","name":"Daily events","topic":"","payload":"No Events Today","payloadType":"str","repeat":"","crontab":"","once":true,"x":229.5,"y":417,"wires":[["6efedd90.a1a5d4"]]},{"id":"7ddd8003.1c86b","type":"comment","z":"84e933ed.e63d2","name":"Widgets","info":"These are section of widgets","x":95.5,"y":94,"wires":[]},{"id":"46a47f48.b3c7c","type":"ui_group","z":"84e933ed.e63d2","name":"Widgets","tab":"68fb0651.1f9cc8","order":"2","disp":true,"width":"24"},{"id":"68fb0651.1f9cc8","type":"ui_tab","z":"84e933ed.e63d2","name":"Dashboard","icon":"dashboard"}]