Sthlm_meeting_panel_philips_hue
[{"id":"9e1b68b0.b33b28","type":"function","z":"f3511cfe.0b268","name":"Philips_hue_controller","func":"var brightness = 2;\nvar state = false;\nvar color = 0;\n\nif(msg.topic==\"lumonisity\")\n{\n    brightness = msg.payload;\n}\n\nelse if(msg.topic==\"state\")\n{\n    state = msg.payload;\n}\n\nelse if(msg.topic==\"color\")\n{\n    color = msg.payload;\n}\n\nmsg.payload={\n\t\t\t\"on\":[state],\n\t\t\t\"transitiontime\":[0],\n\t\t\t\"bri\":[brightness],\n\t\t\t\"rgb\":[75,15,245]\n\t\t}\nreturn msg;","outputs":1,"noerr":0,"x":478.99998474121094,"y":205.77777099609375,"wires":[["a44ac24e.1acf","39dfb382.6d422c"]]},{"id":"a44ac24e.1acf","type":"Hue Set","z":"f3511cfe.0b268","deviceid":"1","serverid":"001788fffe0a2ace","name":"Light","x":716.9999847412109,"y":201.44451904296875,"wires":[[],[]]},{"id":"ca6d0ecb.0b0bf","type":"range","z":"f3511cfe.0b268","minin":"0","maxin":"100","minout":"0","maxout":"255","action":"scale","round":false,"name":"","x":270.5,"y":207,"wires":[["9e1b68b0.b33b28"]]},{"id":"467187b3.158e38","type":"ui_switch","z":"f3511cfe.0b268","group":"fe793323.34a48","order":0,"width":0,"height":0,"name":"","label":"hue_switch","topic":"state","style":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":124.5,"y":111,"wires":[["9e1b68b0.b33b28"]]},{"id":"39dfb382.6d422c","type":"ui_toast","z":"f3511cfe.0b268","position":"top right","displayTime":"3","name":"","x":723.5,"y":106,"wires":[]},{"id":"197d4d84.09eab2","type":"ui_slider","z":"f3511cfe.0b268","group":"fe793323.34a48","order":0,"width":0,"height":0,"name":"","label":"Brightness","topic":"lumonisity","min":0,"max":"100","x":108.5,"y":203,"wires":[["ca6d0ecb.0b0bf"]]},{"id":"8fc119f5.f97ec8","type":"ui_text_input","z":"f3511cfe.0b268","group":"fe793323.34a48","order":0,"width":0,"height":0,"name":"color","mode":"color","delay":"500","label":"Light Color","topic":"color","x":120.5,"y":287,"wires":[["6f5a4406.3e9dcc"]]},{"id":"6f5a4406.3e9dcc","type":"function","z":"f3511cfe.0b268","name":"","func":"var h;\nvar r;\nvar g;\nvar b;\nvar hex;\nhex = msg.payload;\nvar cooler;\n\nfunction hexToRGB(hex){\n h = \"0123456789ABCDEF\";\n r = h.indexOf(hex[1])*16+h.indexOf(hex[2]);\n g = h.indexOf(hex[3])*16+h.indexOf(hex[4]);\n b = h.indexOf(hex[5])*16+h.indexOf(hex[6]);\n return \"rgb(\"+r+\", \"+g+\", \"+b+\")\";\n}\n\ncooler = hexToRGB(hex);\nmsg.payload = cooler;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":359,"y":315,"wires":[["89b1d34a.f8993"]]},{"id":"89b1d34a.f8993","type":"debug","z":"f3511cfe.0b268","name":"","active":true,"console":"false","complete":"false","x":557,"y":304,"wires":[]},{"id":"fe793323.34a48","type":"ui_group","z":"f3511cfe.0b268","name":"Living_Room_lights","tab":"68fb0651.1f9cc8","order":"1","disp":true,"width":"5"},{"id":"68fb0651.1f9cc8","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","order":1}]