sthlm_meeting_philips_2
[{"id":"40c85823.a35a08","type":"function","z":"cfb79cae.2ce53","name":"Philips_hue_controller","func":"var brightness = 2;\nvar state =\"false\" ;\nvar r = 75;\nvar g = 15;\nvar b = 245;\nvar color = [r,g,b] ;\n\nif(msg.topic==\"lumonisity\")\n{\n    brightness = msg.payload;\n    msg.payload={\n\t\t\t\"on\":[true],\n\t\t\t\"transitiontime\":[0],\n\t\t\t\"bri\":[brightness],\n\t\t\t\"rgb\":color\n\t\t}\n}\n\nelse if(msg.topic==\"state\")\n{\n    state = msg.payload;\n    if(state==\"false\")\n    {\n    msg.payload={\n\t\t\t\"on\":[false],\n\t\t\t\"transitiontime\":[0],\n\t\t\t\"bri\":[brightness],\n\t\t\t\"rgb\":color\n\t\t}\n    }\n    if(state==\"true\")\n    {\n    msg.payload={\n\t\t\t\"on\":[true],\n\t\t\t\"transitiontime\":[0],\n\t\t\t\"bri\":[brightness],\n\t\t\t\"rgb\":color\n\t\t}\n    }\n}\n\n\nelse if(msg.topic==\"color\")\n{\n    color = msg.payload;\n    msg.payload={\n\t\t\t\"on\":[true],\n\t\t\t\"transitiontime\":[0],\n\t\t\t\"bri\":[brightness],\n\t\t\t\"rgb\":color\n\t\t}\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":574,"y":253.77777099609375,"wires":[["d3d484d6.f069c8","757b8e30.a2be","449b5e58.4db6b"]]},{"id":"d3d484d6.f069c8","type":"Hue Set","z":"cfb79cae.2ce53","deviceid":"1","serverid":"001788fffe0a2ace","name":"Light","x":812,"y":249.44451904296875,"wires":[[],[]]},{"id":"9cab342f.fd67f8","type":"range","z":"cfb79cae.2ce53","minin":"0","maxin":"100","minout":"0","maxout":"255","action":"scale","round":false,"name":"","x":365.50001525878906,"y":255,"wires":[["40c85823.a35a08"]]},{"id":"583bf967.260d28","type":"ui_switch","z":"cfb79cae.2ce53","group":"2eaddbe9.135684","order":0,"width":0,"height":0,"name":"","label":"hue_switch","topic":"state","style":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":219.50001525878906,"y":159,"wires":[["40c85823.a35a08","1aabccf4.7a6fe3"]]},{"id":"757b8e30.a2be","type":"ui_toast","z":"cfb79cae.2ce53","position":"top right","displayTime":"3","name":"","x":818.5000152587891,"y":154,"wires":[]},{"id":"734ff5af.4d022c","type":"ui_slider","z":"cfb79cae.2ce53","group":"2eaddbe9.135684","order":0,"width":0,"height":0,"name":"","label":"Brightness","topic":"lumonisity","min":0,"max":"100","x":203.50001525878906,"y":251,"wires":[["9cab342f.fd67f8"]]},{"id":"f3e35426.ce0d88","type":"function","z":"cfb79cae.2ce53","name":"testing_new_color","func":"var r;\nvar g;\nvar b;\nvar hex;\nhex = msg.payload;\nvar cooler;\n\nfunction convertHex(hex){\n    hex = hex.replace('#','');\n    r = parseInt(hex.substring(0,2), 16);\n    g = parseInt(hex.substring(2,4), 16);\n    b = parseInt(hex.substring(4,6), 16);\n\n    result = [r,g,b];\n    return result;\n}\n\ncooler = convertHex(hex);\nmsg.payload = cooler;\n\nreturn msg;","outputs":1,"noerr":0,"x":365.50001525878906,"y":333,"wires":[["40c85823.a35a08"]]},{"id":"449b5e58.4db6b","type":"debug","z":"cfb79cae.2ce53","name":"","active":true,"console":"false","complete":"false","x":834.5000152587891,"y":327,"wires":[]},{"id":"b4bd78c7.e6ca18","type":"comment","z":"cfb79cae.2ce53","name":"philips_hue_controller","info":"Control_philips_hue_with_ui","x":278.50001525878906,"y":85,"wires":[]},{"id":"1aabccf4.7a6fe3","type":"ui_toast","z":"cfb79cae.2ce53","position":"top right","displayTime":"3","name":"","x":557,"y":138,"wires":[]},{"id":"2eaddbe9.135684","type":"ui_group","z":"cfb79cae.2ce53","name":"Living_Room_lights","tab":"2c05de25.382062","order":"1","disp":true,"width":"5"},{"id":"2c05de25.382062","type":"ui_tab","z":"","name":"Living_room","icon":"home"}]