sthlm_telldus_2
[{"id":"cd94bc6e.c6aa6","type":"ui_switch","z":"3d9d0153.39f1ee","group":"4020ba38.a95604","order":0,"width":"5","height":"1","name":"Plug_1_lamp","label":"Lamp","topic":"state","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":364,"y":247,"wires":[["b0aaa5bd.d66cf8"]]},{"id":"49a92550.d4fa9c","type":"tellstick-out","z":"3d9d0153.39f1ee","name":"On","device":"3","devicefriendlyname":"Plug_1","method":"turnon","dimlevel":0,"x":691,"y":180,"wires":[]},{"id":"58a51c3d.5a1ab4","type":"tellstick-out","z":"3d9d0153.39f1ee","name":"Off","device":"3","devicefriendlyname":"Plug_1","method":"turnoff","dimlevel":0,"x":692.5,"y":304,"wires":[]},{"id":"b0aaa5bd.d66cf8","type":"switch","z":"3d9d0153.39f1ee","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","outputs":2,"x":515,"y":245,"wires":[["49a92550.d4fa9c","985e4bd1.461448"],["58a51c3d.5a1ab4","cdd74945.043498"]]},{"id":"4535abda.ea0944","type":"ui_switch","z":"3d9d0153.39f1ee","group":"4020ba38.a95604","order":0,"width":"5","height":"1","name":"Plug_2_tv","label":"TV","topic":"TV_state","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":369.5,"y":458,"wires":[["8928251e.0d0538"]]},{"id":"26efcaa4.9169a6","type":"comment","z":"3d9d0153.39f1ee","name":"Telldus","info":"","x":273,"y":137,"wires":[]},{"id":"985e4bd1.461448","type":"ui_toast","z":"3d9d0153.39f1ee","position":"top right","displayTime":"3","name":"","x":906,"y":213,"wires":[]},{"id":"cdd74945.043498","type":"ui_toast","z":"3d9d0153.39f1ee","position":"top right","displayTime":"3","name":"","x":905,"y":264,"wires":[]},{"id":"8928251e.0d0538","type":"switch","z":"3d9d0153.39f1ee","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","outputs":2,"x":566,"y":455,"wires":[["b2f0a295.e5f12","71ab8ab1.1cb924"],["c310c3c5.dd0f","7be8ca71.5c34a4"]]},{"id":"c310c3c5.dd0f","type":"tellstick-out","z":"3d9d0153.39f1ee","name":"Off","device":"3","devicefriendlyname":"Plug_1","method":"turnoff","dimlevel":0,"x":750.5,"y":525,"wires":[]},{"id":"7be8ca71.5c34a4","type":"ui_toast","z":"3d9d0153.39f1ee","position":"top right","displayTime":"3","name":"","x":963,"y":485,"wires":[]},{"id":"71ab8ab1.1cb924","type":"ui_toast","z":"3d9d0153.39f1ee","position":"top right","displayTime":"3","name":"","x":964,"y":434,"wires":[]},{"id":"b2f0a295.e5f12","type":"tellstick-out","z":"3d9d0153.39f1ee","name":"On","device":"3","devicefriendlyname":"Plug_1","method":"turnon","dimlevel":0,"x":749,"y":401,"wires":[]},{"id":"4020ba38.a95604","type":"ui_group","z":"","name":"Living_room_switch","tab":"2c05de25.382062","order":null,"disp":true,"width":"5"},{"id":"2c05de25.382062","type":"ui_tab","z":"","name":"Living_room","icon":"home"}]