Sthlm_meeting_panel_telldus
[{"id":"d82551f.443ceb","type":"ui_switch","z":"c2006e7.bb6a19","group":"41c9bfb2.fe39e","order":0,"width":"5","height":"1","name":"Plug_1","label":"Lamp","topic":"state","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":218.5,"y":152,"wires":[["4f135152.c88ef"]]},{"id":"9d18233.ce5f1e","type":"tellstick-out","z":"c2006e7.bb6a19","name":"On","device":"","devicefriendlyname":"","method":"","dimlevel":0,"x":550.5,"y":83,"wires":[]},{"id":"df17d0d1.5875d","type":"tellstick-out","z":"c2006e7.bb6a19","name":"Off","device":"","devicefriendlyname":"","method":"","dimlevel":0,"x":552,"y":207,"wires":[]},{"id":"4f135152.c88ef","type":"switch","z":"c2006e7.bb6a19","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":374.5,"y":148,"wires":[["9d18233.ce5f1e"],["df17d0d1.5875d"]]},{"id":"5703515e.9afa9","type":"ui_switch","z":"c2006e7.bb6a19","group":"41c9bfb2.fe39e","order":0,"width":"5","height":"1","name":"Plug_2","label":"TV","topic":"state","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":219,"y":361,"wires":[["ad4aaf76.c47b6"]]},{"id":"6e266af2.7078c4","type":"tellstick-out","z":"c2006e7.bb6a19","name":"On","device":"","devicefriendlyname":"","method":"","dimlevel":0,"x":551,"y":292,"wires":[]},{"id":"630074a3.8857ec","type":"tellstick-out","z":"c2006e7.bb6a19","name":"Off","device":"","devicefriendlyname":"","method":"","dimlevel":0,"x":552.5,"y":416,"wires":[]},{"id":"ad4aaf76.c47b6","type":"switch","z":"c2006e7.bb6a19","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":375,"y":357,"wires":[["6e266af2.7078c4"],["630074a3.8857ec"]]},{"id":"84907db6.33e79","type":"comment","z":"c2006e7.bb6a19","name":"Telldus","info":"","x":132.5,"y":40,"wires":[]},{"id":"41c9bfb2.fe39e","type":"ui_group","z":"","name":"Living_room_switch","tab":"68fb0651.1f9cc8","order":null,"disp":true,"width":"5"},{"id":"68fb0651.1f9cc8","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","order":1}]