Sthlm_meeting_scenes
[{"id":"938fdd71.79c27","type":"ui_button","z":"b566b7d4.451778","name":"Going out","group":"2e71715.63d988e","order":0,"width":"4","height":"1","label":"Going Out","color":"red","icon":"lock","payload":"Room Is Locked","payloadType":"str","topic":"","x":194.5,"y":207,"wires":[["be153396.d9da5","2a6b49a8.6459f6"]]},{"id":"be153396.d9da5","type":"debug","z":"b566b7d4.451778","name":"","active":true,"console":"false","complete":"false","x":512.5,"y":250,"wires":[]},{"id":"211afb48.40c934","type":"ui_switch","z":"b566b7d4.451778","group":"2e71715.63d988e","order":0,"width":"4","height":"1","name":"Entertainement","label":"Entertainment Zone","topic":"","style":"","onvalue":"Entertainment Zone Onn","onvalueType":"str","onicon":"","oncolor":"","offvalue":"Entertainment Zone Off","offvalueType":"str","officon":"","offcolor":"","x":242.5,"y":399,"wires":[["eef16f68.fecb2","4f076706.e1a4a8"]]},{"id":"eef16f68.fecb2","type":"ui_toast","z":"b566b7d4.451778","position":"top right","displayTime":"3","name":"","x":522.5,"y":418,"wires":[]},{"id":"4f076706.e1a4a8","type":"debug","z":"b566b7d4.451778","name":"","active":true,"console":"false","complete":"false","x":666.5,"y":356,"wires":[]},{"id":"2a6b49a8.6459f6","type":"ui_toast","z":"b566b7d4.451778","position":"top right","displayTime":"3","name":"","x":679,"y":172,"wires":[]},{"id":"8bebf86b.bc9d18","type":"comment","z":"b566b7d4.451778","name":"Scenes","info":"sample scenes for Sthlm","x":127.5,"y":81,"wires":[]},{"id":"2e71715.63d988e","type":"ui_group","z":"b566b7d4.451778","name":"Scenes","tab":"68fb0651.1f9cc8","disp":true,"width":"24"},{"id":"68fb0651.1f9cc8","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","order":1}]