sthlm_global_off
[{"id":"4d5002de.8c7d5c","type":"tellstick-in","z":"593217fb.abd4f8","name":"","x":207.5,"y":200,"wires":[["9e638574.641718","f42327fd.764b28","f72d53a1.49a62"]]},{"id":"f42327fd.764b28","type":"function","z":"593217fb.abd4f8","name":"Philips_hue_controller","func":"msg.payload={\n\t\t\t\"on\":[false],\n\t\t\t\"transitiontime\":[500],\n\t\t\t\n\t\t}\nreturn msg;","outputs":1,"noerr":0,"x":473,"y":149,"wires":[["5703a26a.68714c"]]},{"id":"5703a26a.68714c","type":"Hue Set","z":"593217fb.abd4f8","deviceid":"","serverid":"","name":"","x":712.5,"y":135,"wires":[[],[]]},{"id":"9e638574.641718","type":"tellstick-out","z":"593217fb.abd4f8","name":"","device":"","devicefriendlyname":"","method":"","dimlevel":0,"x":481.5,"y":241,"wires":[]},{"id":"f72d53a1.49a62","type":"tellstick-out","z":"593217fb.abd4f8","name":"","device":"","devicefriendlyname":"","method":"","dimlevel":0,"x":482,"y":302,"wires":[]},{"id":"685285e0.e2513c","type":"comment","z":"593217fb.abd4f8","name":"global_off","info":"","x":136.5,"y":45,"wires":[]}]