telldus_plug_1
[{"id":"c7d7bb72.1f84f8","type":"ui_tab","z":"84e933ed.e63d2","name":"Home","icon":"dashboard","order":"1"},{"id":"d88dd7cb.dabc98","type":"tellstick-out","z":"84e933ed.e63d2","name":"turn_on_plug_1","device":"3","devicefriendlyname":"Plug_1","method":"turnon","dimlevel":0,"x":652.5,"y":202,"wires":[]},{"id":"fd0385f4.e29268","type":"tellstick-out","z":"84e933ed.e63d2","name":"turn_off_plug_1","device":"3","devicefriendlyname":"Plug_1","method":"turnoff","dimlevel":0,"x":653,"y":264,"wires":[]},{"id":"3fced8c5.72ce48","type":"switch","z":"84e933ed.e63d2","name":"condition","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"false","vt":"str"}],"checkall":"true","outputs":2,"x":410.5,"y":240,"wires":[["d88dd7cb.dabc98"],["fd0385f4.e29268"]]},{"id":"40f053f7.a05ddc","type":"ui_switch","z":"84e933ed.e63d2","tab":"c7d7bb72.1f84f8","name":"Switch","topic":"","group":"Telldus","order":1,"onvalue":"true","offvalue":"false","x":183.5,"y":242,"wires":[["3fced8c5.72ce48"]]}]